*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'open sans', roboto;
}
.container{
    padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    font-size: 50px;
    color: #3a0453;
    text-align: center;
    margin-bottom: 60px;
}
/* Header */
header {
    width: 100%;
    height: 600px;
    background: url(../resources/Studiopolisskyline4096x2160.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav {
    text-align: right;
    padding: 30px 0px 30px 0px;
}
nav > a{
    color: white;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    margin-right: 15px;
}
nav > a:hover{
    text-decoration: underline;
}

header .headertext{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.headertext h1{
    font-size: 60px;
    color: white;
}
.headertext h2{
    font-style: oblique;
    font-size: 30px;
    color: white;
    font-weight: 100;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
}
/*main*/
.container-about{
    display: flex;
    justify-content: space-evenly;
}
.imagenaboutus{
    width: 30%;
}
.container-about .containertextabout{
    width: 50%;
}
.containertextabout h3{
    margin-bottom: 15px;
    color: #3a0453;
}
.containertextabout h3 span{
    background:#a236a4;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #a236a4;
    width: 15px;
    height: 15px;
    padding: 1px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
    margin-right: 15px;
}
.containertextabout p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.proyectosiutepal {
    background: #f2f2f2;
}
.galeriaproyectosiutepal {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imgsemestre {
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}
.imgsemestre > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hovergaleriaproyectosiutepal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(162, 54, 164, .7);
    transition: transform .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hovergaleriaproyectosiutepal img{
    width: 50px;
    margin-bottom: 10px;
}
.hovergaleriaproyectosiutepal p{
    font-weight: 300;
    color: #fff;
}
.imgsemestre:hover .hovergaleriaproyectosiutepal{
    transform: scale(1);
}
.containertextiutepal p{
    margin-bottom: 60px;
    text-align: center;
    font-weight: 300;
}
/*what can i do*/
.whatcanido{
    max-width: 90%;
}
.cards {
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    margin-inline-start: 10px;
    background: #3a0453;
    display: flex;
    width: 70%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .2);
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}
.cards .card > .cardtext{
    width: 60%;
    color: #fff;
}
.cards .card > .cardtext p{
    font-weight: 300;
    padding-top: 5px;
}
/*services*/
.aboutservices{
    padding-bottom: 30px;
}
.servicescontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service{
    width: 28%;
    text-align: center;
}
.service img{
    width: 90%;
}
.service h3{
    margin: 10px 0px;
}
.service p{
    text-align: left;
    font-weight: 300;
}
#guitar{
    padding-top: 60px;

}
/*for smarthphones*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .titulo{
        font-size: 35px;
    }
    /*header*/
    header {
        height: 500px;
        background-position: center;
    }
    nav {
        text-align: center;
        padding: 15px 0px 15px 15px;
    }
    nav > a{
        color: white;
        font-weight: 300;
        font-size: 15px;
        text-decoration: none;
        margin-right: 15px;
    }
    .wave{
        height: 50px;
    }
    .headertext h2{
        font-size: 20px;
    }
    /*main*/
    .container-about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imagenaboutus{
        width: 60%;
        margin-bottom: 30px;
    }
    .container-about .containertextabout{
        width: 95%;
    }
    .imgsemestre{
        width: 40%;
        height: 150px;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card{
        margin-bottom: 30px;
        width: 100%;
        height: 250px;
        justify-content: space-evenly;
    }
    .cards .card img{
        width: 90px;
        height: 90px;
    }
    .servicescontainer{
        flex-direction: column;
        justify-content: center;
    }
    .service img{
        width: 90%;
    }
    .service{
        width: 100%;
    }
    .service:nth-child(1){
        margin-bottom: 60px;
    }
    #webdev{
        margin-bottom: 30px;
    }
}