* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'VT323', monospace;
    font-size: 20px;
}
    .headerlogo>h2{
        font-family: 'VT323', monospace;
        font-size: 30px;
    }
        /* Header */
        header {
            width: 100%;
            height: 600px;
            background: linear-gradient(to right, rgba(78, 42, 113, 0.5), rgba(78, 42, 113, 0.5)), url(../resources/mainKVUPSCALED.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position-y: 1000px;
            position: relative;
        }
        .headerlogo{
            margin-top: 100px;
            fill: #fff;
        }
        .headertext{
            color: #fff;
            font-family: 'VT323', monospace;
            font-size: 50px;
            display: flex;
            height: 100px;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
        .wave {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 180px;
        }
        .menu{
            display: flex;
            flex-flow: row nowrap;
            background-color: rgba(255, 255, 255, 0.9);
            justify-content: center;
            align-items: center;
            height: 60px;
            margin: auto;
            width: 40%;
        }
        nav > a{
            color: #4e2a71;
            text-decoration: none;
            padding: 0px 0px 10px 10px;
        }
        nav > a:hover{
            transition: 100ms;
            background-color: #4e2a71;
            color: #fff;
            text-decoration: none;
            padding: 20px;
        }
        /*end header*/
        .container {
            padding: 60px 0px;
            width: 90%;
            max-width: 1000px;
            margin: auto;
            overflow: hidden;
        }
        .titulo{
        font-family: 'VT323', monospace;
        font-size: 50px;
        color: #4e2a71;
        text-align: center;
        margin-bottom: 60px;
        }
        .subtitle{
            font-size: 30px;
            color: #4e2a71;
        }
        .container-about {
            display: flex;
            justify-content: space-evenly;
        }
    
        .imagenabout {
            width: 300px;
            height: 400px;
            margin-right: 50px;
            border: 5px solid #4e2a71;
            box-shadow: 10px 10px rgba(0, 0, 0, .2);
        }
    
        .container-about .containertextabout {
            width: 70%;
        }

        .containertextabout p {
            padding: 0px 0px 30px 15px;
            font-weight: 300;
            text-align: justify;
        }

        .his{
            background-color: #4e2a71;
            padding: 60px 0px;
            margin: auto;
            overflow: hidden;
        }

        .his > h2{
            color: #fff;
        }
        
        .container-his{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        .container-his .containertexthis {
            color: #fff;
            width: 70%;
        }
        .containertexthis p {
            padding: 0px 0px 30px 15px;
            font-weight: 300;
            text-align: justify;
        }
        .galeriadisco {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .imgdisco {
            width: 24%;
            height: 24%;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
        }
    
        .imgdisco>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    
        .hovergaleriadisco {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(0);
            background: rgba(78, 42, 113, 0.8);
            transition: transform .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
        .hovergaleriadisco p {
            font-weight: 300;
            font-size: 40px;
            color: #fff;
        }
    
        .imgdisco:hover .hovergaleriadisco {
            transform: scale(1);
        }
        .form{
            background-color: #4e2a71;
            text-align: center;
        }
        .form-register {
            width: 500px;
            padding: 30px;
            margin: auto;
            margin-top: 100px;
            font-family: 'VT323', monospace;
            color: white;
        }
        .controls {
            width: 100%;
            background: #fff;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid #1f53c5;
            font-family: 'VT323', monospace;
            font-size: 18px;
            color: #4e2a71;
        }
    
        .form-register p {
            height: 40px;
            text-align: center;
            font-size: 18px;
            line-height: 40px;
        }
        .form-register .botons {
            width: 100%;
            background:#a236a4;
            border: none;
            padding: 12px;
            color: white;
            margin: 16px 0;
            font-size: 16px;
        }
        .form-register .titulo{
            color: #fff;
        }
        /*footer*/
        footer {
            background: #4e2a71;
            padding: 30px 0 0 0;
            margin: auto;
            overflow: hidden;
        }
    
        .container-footer {
            display: flex;
            width: 90%;
            justify-content: space-evenly;
            margin: auto;
            padding-bottom: 20px;
            border-bottom: 1px solid #fff;
        }
    
        .contenido-foot {
            color: #fff;
            text-align: center;
        }
    
        .contenido-foot h4 {
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #a236a4;
        }
    
        .contenido-foot p {
            font-weight: 300;
        }
    
        .contenido-foot p>a {
            font-weight: 300;
            text-decoration: none;
            color: white;
        }
    
        .contenido-foot p>a:hover {
            text-decoration: underline;
        }
    
        .finaltitle {
            text-align: center;
            padding: 20px 0 20px 0;
            color: white;
            font-weight: 300;
        }
    
        .credits {
            font-weight: 100;
            color: #fff;
            text-align: right;
            padding-right: 5px;
        }
    
        .credits>a {
            text-decoration: none;
            color: #fff;
        }
    
        .credits>a:hover {
            text-decoration: underline;
        }